h4 {
    margin: .6em;
}

.p_section {
    background-color: #F5F5EE;
    margin: 0;
    padding: 1vh 4vw 0;

    h2 {
        color: #24303B;
        font-family: 'Abril Fatface', 'serif';
        font-weight: 100;
        font-size: 5em;
        margin-bottom: 0;
        margin-top: calc(6vh + 50px);
        margin-left: 4vw;
    }

    .subtitle {
        font-size: 2em;
        margin-left: 4vw;
    }

    .tronc {
        width: 60vw;
        margin: 0 auto;
        padding-bottom: 4vh;
    }

    .p_flex {
        display: flex;
        width: 100%;
        margin: 10em 0;
    }

    .end {
        justify-content: flex-end;
    }

    .start {
        justify-content: flex-start;
    }

    .p_bloc {
        width: 43vw;
        padding: 0 20px;
        margin-bottom: 20vh;
        font-weight: bold;
        display: flex;
        z-index: 50;

        .p_cercle {
            margin-top: 20px;
        }

        .closed {
            .vertical {
                transition: all 0.5s ease-in-out;
                transform: rotate(-90deg);
            }

            .horizontal {
                transition: all 0.5s ease-in-out;
                transform: rotate(-90deg);
                opacity: 1;
            }
        }

        .opened {
            opacity: 1;

            .vertical {
                transition: all 0.5s ease-in-out;
                transform: rotate(90deg);
            }

            .horizontal {
                transition: all 0.5s ease-in-out;
                transform: rotate(180deg);
                opacity: 1;
            }
        }

        .circle-plus {
            height: 4em;
            width: 4em;
            font-size: 2em;
        }

        .circle-plus .circle {
            position: relative;
            width: 2.55em;
            height: 2.5em;
            border-radius: 100%;
            background-color: #E94E4D;
        }

        .circle-plus .circle .horizontal {
            position: absolute;
            background-color: white;
            width: 30px;
            height: 5px;
            left: 50%;
            margin-left: -15px;
            top: 50%;
            margin-top: -2.5px;
        }

        .circle-plus .circle .vertical {
            position: absolute;
            background-color: white;
            width: 5px;
            height: 30px;
            left: 50%;
            margin-left: -2.5px;
            top: 50%;
            margin-top: -15px;
        }

        p {
            font-size: 1.5em;
            word-wrap: break-word;
        }

        .p_titre {
            color: #24303B;
            text-transform: uppercase;
            margin-bottom: 0;
            font-size: 2em;
        }

        .p_contents {
            position: relative;
            background-color: #F5F5EE;
            transition: .5s;
            transform: scaleY(0);
            transform-origin: top;
            opacity: 0;
            z-index: 5;
        }

        .visible {
            transform: scaleY(1);
            opacity: 1;
        }

        .p_content {
            line-height: 1.7;
            position: relative;
            z-index: 70;
        }

        .p_red {
            color: #E94E4D;
            font-size: 1.8em;
        }

        .p_tag {
            transition: .5s;
            position: relative;
            bottom: 73%;
            text-transform: uppercase;
            font-size: 1.6em;
            color: #E94E4D;
            font-family: 'Lato', sans-serif;
            margin-top: 0;
        }

        .top {
            bottom: 70%;
        }

        .bot {
            bottom: 65%;
        }

        .down {
            transition: .5s;
            bottom: 0%;
        }
    }


}

// * Bandeau

.bandeau_wonder {
    position: relative;

    .p_wonder {
        width: 17vw;
        position: absolute;
        bottom: 0;
        left: 59vw;
        object-fit: contain;
    }

    .p_bandeau {
        height: 120px;
        width: 100%;
        background-color: #E94E4D;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 2px 0;


        .p_bande {
            height: 6px;
            background-color: #F5F5EE;
        }

        .p_button {
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: flex-start;
            margin-left: 25vw;

            .p_fonblan {

                display: flex;
                justify-content: center;
                background-color: #F5F5EE;
                border-radius: 25px;
                padding: 5px;

                a {
                    font-weight: 100;
                    background-color: #F5F5EE;
                    color: #E94E4D;
                    text-align: center;
                    text-transform: uppercase;
                    font-family: 'Abril Fatface', serif;
                    // border : 2px solid #E94E4D;
                    font-size: 2em;
                    padding: 5px 2em 5px 2em;
                    border-radius: 25px;
                    border: 2px solid #E94E4D;
                }
            }

        }
    }
}

//* Section Slider

.p_section_slider {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .p_cont {
        padding: 0 70px;

        p {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.2em;
            width: 20%;
        }
    }
}

//* Images parallaxées

.rond {
    position: absolute;
    width: 55vh;
    top: 23vh;
    left: -11vw;

    img {
        object-fit: cover;
    }
}

.rond_pt {
    position: absolute;
    width: 20vh;
    top: 25vh;
    left: 28vw;

    img {
        object-fit: cover;
    }
}

.superman {
    position: absolute;
    top: 100vh;
    right: 0;
    z-index: 10;

    img {
        object-fit: cover;
        height: 30vh;
        transform: rotateZ(30deg);
    }
}

.croix {
    position: absolute;
    width: 23vw;
    top: 180vh;
    left: -5vw;

    img {
        object-fit: cover;
    }
}

.triangle_1 {
    position: absolute;
    width: 15vh;
    top: 90vh;
    right: 15vw;

    img {
        object-fit: cover;
        transform: rotateZ(30deg);
    }
}

.triangle_2 {
    position: absolute;
    width: 40vh;
    top: 100vh;
    right: 20vw;
    z-index: 10;

    img {
        position: relative;
        z-index: 10;
        object-fit: cover;
        transform: rotateZ(-30deg);
    }
}

.croix_bot {
    position: absolute;
    width: 41vh;
    top: 273vh;
    right: 10vw;
    z-index: 10;

    img {
        position: relative;
        z-index: 10;
        object-fit: cover;
        transform: rotateZ(30deg);
    }
}

.rond_bot {
    position: absolute;
    width: 12vw;
    top: 162vh;
    left: 18vw;

    img {
        object-fit: cover;
        transform: rotateZ(-130deg);
    }
}