.p_section {
    background-color: #F5F5EE;
    margin: 0;
    padding: 1vh 4vw 0;

    /* Hr disparu
    hr {
        height: 1px;
        border: 0;
        border-top: 2px solid #E94E4D;
        padding: 0;
    }
    */

    h2 {
        color: #24303B;
        font-family: 'Abril Fatface', 'serif';
        font-weight: 100;
        font-size: 5em;
        margin-bottom: 0;
        margin-top: calc(6vh + 50px);
        margin-left: 4vw;
    }

    .subtitle {
        font-size: 2em;
        margin-left: 4vw;
    }

    .tronc {
        width: 60vw;
        margin: 0 auto;
        padding-bottom: 4vh;
    }

    .p_flex {
        display: flex;
        width: 100%;
        margin: 10em 0;
    }

    .end {
        justify-content: flex-end;
    }

    .start {
        justify-content: flex-start;
    }

    .p_bloc {
        width: 35vw;
        background-color: #F5F5EE;
        padding: 0 20px;
        margin-bottom: 20vh;
        font-weight: bold;

        .p_titre {
            color: #24303B;
            font-size: 1.3em;
            text-transform: uppercase;
            margin-bottom: 0;
        }

        .p_content {
            line-height: 1.7;
        }

        .p_red {
            color: #E94E4D;
            font-size: 1.2em;
        }

        .p_tag {
            text-transform: uppercase;
            font-size: 1.1em;
            color: #E94E4D;
            font-family: 'Lato', sans-serif;
            margin-top: 0;
        }
    }

    
}

.p_bandeau {
    height: 100px;
    width: 100vw;
    background-color: #E94E4D;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .p_bande {
        height: 5px;
        background-color: #F5F5EE;
    }
}